Package: neofetch
Version: 7.1.0+20210611.611117f 
Architecture: iphoneos-arm
Priority: optional
Section: Utilities
Maintainer: Hayden Seay <me@diatr.us>
Author: Dylan Araps <dylan.araps@gmail.com>
Depends: bash (>= 5.0), awk
Replaces: com.matdev.neofetch-ios
Conflicts: com.matdev.neofetch-ios
Homepage: https://github.com/dylanaraps/neofetch
Description: Shows System Information with Distribution Logo
 Neoftech is a cross-platform and easy-to-use system information
 command line script that collects your system information
 and display it on the terminal next to an image, it could be your
 distributions logo or any ascii art of your choice.
Installed-Size: 364
